@keyframes slideOut {
  0% {
    width: 250px;
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    width: 0;
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes slideIn {
  0% {
    width: 0;
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    width: 250px;
    opacity: 1;
    transform: translateX(0);
  }
}

.outerLayer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  transition: width 1s ease-out;
}

.userName {
  width: 240px;
  height: 90px;
  background: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  margin-inline: auto;
  display: flex;
}
.chatUserName {
  width: 100%;
  height: auto;
  border-radius: 8px;
  padding: 10px;
  display: flex;
}
.chatUserName h5 {
  margin-top: 10px;
}
.chatUserName1 {
  width: 50%;
  height: auto;
  margin-right: 10px;
  display: flex;
}
.headerAvatar {
  margin-top: 5px;
}
.avatar {
  width: 40px;
  height: 40px;
  border: 3px gray solid;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.avatar2 {
  width: 40px;
  height: 40px;
  border: 3px gray solid;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.timestamp {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  color: #888;
  margin-left: 5px;
  margin-top: 5px;
  text-align: right;
}

.statusIcon {
  width: 16px;
  height: 16px;
}

.previewMessage {
  display: flex;
  flex-direction: column;
}

.previewMessage h5 {
  padding: 0;
  margin-block: 0;
  text-align: start;
  margin-left: 5px;
}

.previewMessage div {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  margin-left: 5px;
  color: gray;
  text-align: start;
}

.onlineContainer {
  border-radius: 10px;
  background-color: #eff1f3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: opacity 1s ease-out;
}

.onlineContainer.hidden {
  animation: slideOut 1s ease-out forwards;
}

.onlineContainer.visible {
  animation: slideIn 1s ease-out forwards;
}

.chatContainer {
  background-color: #f0f2f5;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
}

.chatContainer.expanded {
  margin-left: 60px;
}

.messageInputContainer {
  display: flex;
  margin-bottom: 10px;
  width: 400px;
}

.messageInput {
  padding-inline: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
}

.uploadButton {
  padding-inline: 5px;
  margin-left: 10px;
  background-color: rgba(102, 167, 242, 1);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadButton:hover {
  background-color: #0056b3;
}


.sendMessageButton {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: rgba(102, 167, 242, 1);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.sendMessageButton:hover {
  background-color: #0056b3;
}

.messagesContainer {
  height: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  padding: 10px;
  padding-bottom: 15px;
  background: #f9f9f9;
  border-radius: 4px;
  overflow-y: auto;
  margin-bottom: 10px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
}

.messageRow {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.messageLeft {
  justify-content: flex-start;
}

.messageRight {
  justify-content: flex-end;
  margin-right: 10px;
}

.imageMessage {
  max-width: 100px;
  max-height: 100px;
}

.message {
  padding: 8px;
  border-radius: 4px;
  max-width: 60%;
  word-wrap: break-word;
}

.messageMerchant {
  background: rgba(176, 198, 233, 1);
  color: white;
}

.system {
  background: #f9f9f9;
  color: black;
  border: 3px rgba(176, 198, 233, 1) solid;
}

.uploadInput {
  width: 50px;
  height: 30px;
}
.uploadIcon {
  color: rgb(63, 57, 57);
  width: 50px;
  height: 30px;
}

.messageUser {
  background: rgba(157, 236, 157, 1);
  color: white;
}

.closeButton {
  display: flex;
  margin-bottom: 10px;
}

.faXmark {
  position: absolute;
  top: 22px;
  right: 20px;
  color: gray;
}

.faXmark:hover {
  cursor: pointer;
}

.faAngleRight {
  margin-right: 10px;
  margin-left: -10px;
  margin-top: 5px;
  color: gray;
  cursor: pointer;
}

.messagesEndRef {
  width: 15px;
  margin-bottom: 20px;
}

.messageList {
  list-style-type: none;
  padding: 0;
}

.messageList li {
  margin-bottom: 5px;
}

.reservationsOrder {
  width: 120px;
  padding: 8px 5px 2px 5px;
  position: absolute;
  top: 18px;
  right: 60px;
  border: 2px gray solid;
  border-radius: 10px;
  background-color: rgb(246, 199, 139);
}
