.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainContent {
    flex-grow: 1;
    padding: 15px 5%;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.titlePage {
    width: 90%;
    height: 400px;
    margin-top: 20%;
    border-radius: 0 0 0 40%;
    margin: auto;
}

.titlePage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 0 40%;
}

.jumpdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumpbutton {
    width: 350px;
    height: 50px;
    font-size: medium;
    border: 0;
    border-radius: 10px;
    background-color: rgba(176, 214, 229, 1);
}

@media (min-width: 1024px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 1280px) {
    .container {
        width: 70%;
    }
}

@media (min-width: 1920px) {
    .container {
        width: 60%;
    }
}

@media (min-width: 1920px) {
    .body {
        font-size: 1.2rem;
    }

    .mainContent {
        padding: 3rem 0;
    }
}
